# ============================================
# Mantlememo Backend Environment Variables
# ============================================
DEBUG=True
HOST=0.0.0.0
PORT=8000

CORS_ORIGINS=
OPENROUTER_API_KEY =
MEM0_API_KEY = 

#Supabase
VITE_SUPABASE_URL=
#anon key
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
#service key - the most below one
SUPABASE_SERVICE_KEY=

#Redis and KV
KV_REST_API_READ_ONLY_TOKEN=
KV_REST_API_TOKEN=
KV_REST_API_URL=
KV_URL=
REDIS_URL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Mantle Testnet
MANTLE_RPC_URL=https://rpc.testnet.mantle.xyz
MANTLE_CHAIN_ID=5001
MANTLE_NETWORK=mantle-testnet

# Mantle Mainnet
MANTLE_RPC_URL=https://rpc.mantle.xyz
MANTLE_CHAIN_ID=5000
MANTLE_NETWORK=mantle

SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

